.wrap {
  background-color: #f6f8fa;
  height: 100vh;
  top: 0;
  right: 200px;
  width: 100vw;
  margin-top: 80px;
}

.calendarWrap {
  border: 1px solid #d0d1d3;
  width: 50%;
  // height: 50%;
  margin: 20px;
  background-color: white;
}
